body, html {
    margin: 10;
    padding: 10;
    font-family: Arial, sans-serif;
}
h1, h2, p, form, label, input, textarea, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
 ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin-right: 20px;
}

ol li {
	display: block;
	margin-right: 20px;
}
li.b{
	margin-top:10px;
}
main {
    flex: 1;
    padding: 20px;
}
footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;
}
/* Нормализация на стиловете за постигане на еднакъв вид в различни браузъри */
body, html, table, th, td {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Стилове за таблицата */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
thead {
    background-color: #f1f1f1;
}

th {
    padding: 10px;
    text-align: left;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    padding: 10px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.result-container {
      
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
      font-size: 14px;
      margin: 20px auto;
      max-width: 400px;
	 display: none;
}
.error {
	background-color: #fff2f2;
	color:#ff1122;
}
.ok {
	background-color: #f2f2f2;
	color:#07750f;
}

  @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .fadeInAnimation {
      animation: fadeIn 1s forwards;
      display: block;
    }
  @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }

    .fadeOutAnimation {
      animation: fadeOut 3s forwards;
      display: block; 
    }